body {
    color: purple;
    background-color: lightblue;
    text-align: center
}

article img {
    width: 200px;
}

article {
    font-style: italic;
    text-align: center;
}


header li {
    display: inline-block;
    width: 100px;
    background-color:lightgreen;
    padding: 5px;
    text-align: center;
    
}
header img { 
    background-color: lightblue;
}

header {
    height: 700px;
}