body {
    color: rgb(27, 14, 14);
    background-color: rgb(111, 117, 119);
    text-align: center;
}

article img {
    width: 200px;
}

article {
    font-style: italic;
    text-align: center;
}


header li {
    display: inline-block;
    width: 100px;
    background-color:rgb(204, 199, 197);
    padding: 5px;
    text-align: center;
    
}


header {
    height: 700px;
}